.button {
  display: block;
  color: $basic-white;
  background-color: $basic-blue;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding: 16px 49px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}
