.features__list,
.features__sublist {
  @include list-reset;
}

.features__item {
  @media (min-width: $tablet-width) {
    width: 768px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .features__pic {
      grid-column: span 2;
    }
  }
}
