.features {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }
}

.features__list,
.features__sublist {
  @include list-reset;
}

.features__item {
  @media (min-width: $tablet-width) {
    min-width: 768px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    picture {
      grid-column: span 2;
      object-fit: cover;
    }
  }
}

.features__sublist {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / -1;
    grid-column-gap: 64px;
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: 110px;
  }
}

.features__pic {
  object-fit: cover;
  display: block;
  background-color: $bg-layer-lightgreen;

  @media (min-width: $tablet-width) {
    grid-column: span 2;

    &--order {
      order: -1;
    }
  }
}
