.field-list__item {
  margin: 0 auto 15px;
  width: 280px;

  @media (min-width: $desktop-width) {
    width: 430px;
  }
}

.field-list__title {
  color: $darkengray;
  display: block;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  padding-left: 16px;
}

.field-list__input {
  border: none;
  background-color: $lightengray;
  color: $basic-black;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding: 16px 0 16px 16px;
  width: 100%;
  box-sizing: border-box;
}

.field-list__input::placeholder {
  color: rgba($basic-black, 0.3);
}

.field-list__rating,
.field-list__place {
  text-transform: none;
  font-weight: bold;
}

.field-list__radio {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .field-list__item {
      margin: 0 0 15px;
    }

    @media (min-width: $desktop-width) {
      justify-content: center;

      .field-list__item {
        width: 280px;
      }
    }
  }
}

.field-list__checkbox {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .field-list__item {
      width: 224px;
      margin: 0 0 15px;
    }
  }
}

.field-list__rating {
  position: relative;
  cursor: pointer;
}

.field-list__rating::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: $lightengray;
  left: -62px;
  top: -10px;
  border-radius: 50%;
}

.field-list__rating::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: $darkengray;
  left: -47px;
  top: 5px;
  border-radius: 50%;
  transform: scale(0.3);
  transition: 1s ease-in;
}

.field-list__radio:checked .field-list__rating::after {
  transform: scale(1);
}
