.form__request {
  font-size: 12px;
  line-height: 21px;
  color: rgb($basic-black, 0.6);
  text-align: right;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    padding-top: 5px;
  }
}

.form__submit {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
    width: 648px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
  }
}

.form__wrapper {
  min-width: 280px;
  padding: 0 18px;
  display: grid;

  @media (max-width: $mobile-width-only) {
    justify-items: center;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    min-width: 648px;
    padding-left: 60px;
    padding-right: 60px;
    grid-template-columns: 1fr 1fr;

    .form-group:nth-child(1n+3) {
      grid-column: span 2;
    }

    &::before {
      content: "";
      position: absolute;
      height: 338px;
      width: 1px;
      background-color: $gray-form-decor;
      top: 0;
      left: 50%;
      right: 50%;
      transform: translate(-50%);

      @media (min-width: $desktop-width) {
        left: 51%;
      }
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 960px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.form__button {
  cursor: pointer;
  box-sizing: border-box;
  width: 280px;
  font-family: inherit;

  @media (min-width: $tablet-width) {
    width: 324px;
    padding-left: 8px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}
