.form__request {
  font-size: 12px;
  line-height: 21px;
  color: rgb($basic-black, 0.6);
  text-align: right;
}

.form__submit {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
    width: 648px;
    display: flex;
    justify-content: space-between;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    min-width: 648px;
    padding-left: 60px;
    padding-right: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .form-group:nth-child(1n+3) {
      grid-column: span 2;
    }
  }
}

.form__button {
  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}
