.gallery__list {
  @include list-reset;
  text-align: left;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 648px;
    padding: 0 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    min-width: 1200px;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery__picture {
  margin: 0;
}

.gallery__item {
  @media (max-width: $mobile-width-only) {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 26px;
    }

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 320px;
      background-color: $lightgray-input;
      left: 50%;
      transform: translate(-50%);
      bottom: 0;
    }
  }
}

.gallery__item--main {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}
