.hero__background {
  background-color: $bg-layer-darkgreen;
  background-image: url("../img/background_s.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
}

.hero__image {
  margin-bottom: 117px;
}

.hero__title {
  font-size: 18px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.hero__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: $darkengray;
  margin: 0;
  padding: 0 20px;
}
