.info {
  background-color: $basic-blue;
  color: $basic-white;
  padding: 38px 26px 37px 22px;

  @media (max-width: $mobile-width-only) {
    &--decor {
      padding-top: 71px;
      background-image: url("../img/city-decor.png");
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100% 37px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 40px 30px 37px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 60px 37px 60px;
  }
}

.info__title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 16px;
  }
}

.info__number {
  display: block;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }
}

.info__legend {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $desktop-width) {
    &--bridge {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}
