.likes {
  display: flex;
  align-items: center;
}

/*.likes__count {
  display: block;
  background-image: url("../img/icons/like-icon.svg");
  background-repeat: no-repeat;
}
*/

.likes__sum {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}
