.main-container__hero {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    .hero__title {
      font-size: 21px;
    }
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }

  .hero__background {
    min-height: 389px;
    background-color: $bg-layer-darkgreen;
    background-image: url("../img/background-decor_s.svg"),
      url("../img/background_s.jpg");
    background-position: bottom, top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 32px;

    @media (min-width: $tablet-width) {
      min-height: 518px;
      margin-bottom: 47px;
      background-image: url("../img/background-decor_m.svg"),
        url("../img/background_m.jpg");
      background-repeat: no-repeat;
      background-position: bottom, top;
      background-size: 1200px, cover;
    }

    @media (min-width: $desktop-width) {
      min-height: 518px;
      background-size: 100%, cover;
      margin-bottom: 59px;
    }
  }

  .hero__image {
    padding-top: 90px;

    @media (min-width: $tablet-width) {
      width: 461px;
      height: 350px;
      padding-top: 77px;
    }
  }
}
