.main-nav {
  background-color: $basic-blue;
}

@media (min-width: $tablet-width) {
  .main-nav {
    background-color: $basic-white;
  }
}

.main-nav__list {
  @include list-reset;
}

/*.main-nav__item {
  padding: 13px 10px;
}*/

.main-nav__list a {
  display: block;
  text-decoration: none;
  color: $basic-white;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .main-nav__item a {
    color: $basic-black;
    font-size: 14px;
    line-height: 21px;
  }

  .main-nav__item--current a {
    color: $darkgray-active;
  }
}

.main-nav__wrapper {
  width: 280px;
  /*padding: 0 20px;*/
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    width: 690px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    column-gap: 10px;
    align-items: center;
  }

  /*.main-nav__item:nth-child(1) {
    padding-left: 78px;
  }*/
}

.main-nav__toggle {
  display: block;
  width: 30px;
  position: absolute;
}
