.main-nav {
  background-color: $basic-blue;
}

.main-nav__list {
  @include list-reset;
  text-align: center;
}

.main-nav__item {
  margin-bottom: 30px;
}

.main-nav__list a {
  text-decoration: none;
  color: $basic-white;
}
