.main-footer__copyright {
  @media (max-width: $mobile-width-only) {
    width: 130px;
    margin: 0 auto;
  }
}

.main-footer__tag {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 21px;
  font-weight: bold;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 33px;
  }
}

.social__item {
  display: block;
}

.main-footer__social-list {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(auto-fit, 48px);
  gap: 6px;
  justify-content: center;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    max-width: 350px;
  }
}

.main-footer__wrapper {
  @media (min-width: $tablet-width) {
    min-width: 768px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    gap: 29px;
  }
}

.main-footer {
  padding-top: 28px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
