.main-container__hero {
  margin-bottom: 15px;

  .hero__title {
    padding-left: 25px;
    padding-right: 30px;
    margin-bottom: 38px;
  }

  @media (min-width: $tablet-width) {
    .hero__title {
      font-size: 21px;
      padding-left: 30px;
      margin-bottom: 32px;
    }
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }

  .hero__background {
    min-height: 389px;
    background-color: $bg-layer-darkgreen;
    background-image: url("../img/background-decor_s.svg"),
      url("../img/background_s.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 32px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-decor_s.svg"),
        url("../img/background_s@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      min-height: 517px;
      margin-bottom: 48px;
      background-image: url("../img/background-decor_m.svg"),
        url("../img/background_m.jpg");
      background-size: 1200px, cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background-decor_m.svg"),
          url("../img/background_m@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      min-height: 517px;
      background-size: 100%;
      margin-bottom: 59px;
    }
  }

  .hero__image {
    padding-top: 90px;

    @media (min-width: $tablet-width) {
      width: 461px;
      height: 350px;
      padding-top: 77px;
    }
  }
}
