.main-footer__tag {
  margin: 0;
}

.main-footer__social-list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, 48px);
    gap: 6px;
    max-width: 350px;
  }
}

.main-footer__wrapper {
  @media (min-width: $tablet-width) {
    min-width: 768px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
