.modal-fail {
  background-color: $basic-white;
  width: 320px;
  padding: 45px 42px 35px 41px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 400px;
  }
}

.modal-fail__button {
  margin: 0 auto;
  min-width: 180px;

  @media (min-width: $tablet-width) {
    min-width: 272px;
  }
}
