.modal-fail {
  background-color: $basic-white;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 400px;
  }
}

.modal-fail__button {
  margin: 0 auto;
  min-width: 180px;

  @media (min-width: $tablet-width) {
    min-width: 272px;
  }
}
