.modal-success {
  background-color: $basic-white;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 640px;
  }
}

.modal-success__button {
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 458px;
  }
}

.modal-success__background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 98px;
  background-color: $lightengray;
}
