.modal-success {
  background-color: $basic-white;
}

.modal-success__title {
  font-size: 18px;
}

.modal-success__text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 35px;
}

.modal-success__button {
  outline: 20px solid $lightengray;
}
