.gallery__picture {
  margin: 0;
}

.picture__description-title {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.picture__description-author {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: none;
  color: $darkengray;
  margin: 0;
}
