.search__text {
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.search__wrapper {
  padding-left: 18px;
  padding-right: 18px;
}

.search__text-date {
  color: $darkengray;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.search__button {
  max-width: 458px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.search__map {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("../img/map_s.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map_s@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/map_l.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map_l@2x.png");
    }
  }
}

.search__map iframe {
  border: none;
  display: block;
  width: 100%;
  height: 350px;
}
