.sublist__title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 30px;
  }
}

.sublist__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $darkengray;
  margin: 0;
}

.sublist__item {
  position: relative;

  @media (max-width: $mobile-width-only) {
    padding-top: 6px;

    &:not(:last-child) {
      margin-bottom: 22px;
    }

    &--home {
      padding-left: 47px;
    }

    &--food {
      padding-left: 52px;
    }

    &--gift {
      padding-left: 44px;
    }
  }

  &--home::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-image: url("../img/icons/icon-house.svg");
    background-repeat: no-repeat;
    background-position: left top;

    @media (min-width: $tablet-width) {
      width: 72px;
      height: 75px;
      left: 50%;
      top: -90px;
      transform: translate(-50%);
      background-position: top;
      background-size: cover;
    }
  }


  &--food::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-image: url("../img/icons/icon-food.svg");
    background-repeat: no-repeat;
    background-position: left top;

    @media (min-width: $tablet-width) {
      width: 77px;
      height: 68px;
      left: 50%;
      top: -80px;
      transform: translate(-50%);
      background-position: top;
      background-size: cover;
    }
  }


  &--gift::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-image: url("../img/icons/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center top;

    @media (min-width: $tablet-width) {
      width: 65px;
      height: 76px;
      left: 50%;
      top: -85px;
      transform: translate(-50%);
      background-position: top;
      background-size: cover;
    }
  }
}

.sublist {
  margin-bottom: 52px;
  padding-top: 31px;
  padding-left: 18px;
  padding-right: 18px;

  @media (max-width: $mobile-width-only) {
    text-align: left;
  }

  @media (min-width: $tablet-width) {
    padding-top: 158px;
    padding-left: 36px;
    padding-right: 31px;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    padding-left: 58px;
    padding-right: 78px;
  }
}
