@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
img {
  max-width: 100%;
  height: auto;
}

.page {
  font-family: "PT sans", "Arial", sans-serif;
  height: 100%;
  font-size: 18px;
  line-height: 26px;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*.main-header {
  padding: 0 28px 0 49px;
}*/
.main-nav {
  background-color: #81b3d2;
}

@media (min-width: 768px) {
  .main-nav {
    background-color: #ffffff;
  }
}
.main-nav__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.main-nav__item {
  margin-bottom: 30px;
}

.main-nav__list a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

@media (min-width: 768px) {
  .main-nav__item a {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
  }

  .main-nav__item--current a {
    color: #766357;
  }
}
.main-nav__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-nav__wrapper {
    width: 640px;
    padding: 0 64px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    column-gap: 30px;
    align-items: center;
  }

  .main-nav__item:nth-child(2) a {
    text-align: left;
  }
}
.main-nav__toggle {
  display: block;
  width: 30px;
  position: absolute;
}

.hero__background {
  background-color: #1d3034;
  background-image: url("../img/background_s.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
}

.hero__image {
  margin-bottom: 117px;
}

.hero__title {
  font-size: 18px;
  margin: 0;
}

.hero__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin: 0 0 50px 0;
}

.features__list,
.features__sublist {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.sublist__title {
  font-size: 18px;
  margin: 0;
}

.sublist__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.info {
  background-color: #81b3d2;
  color: #ffffff;
}

.info__title {
  font-size: 18px;
  margin: 0;
}

.info__number {
  font-size: 14px;
  line-height: 21px;
}

.info__legend {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}

.second-sublist {
  background-color: #eeeeee;
}

.second-sublist__title {
  font-size: 18px;
  margin: 0;
}

.second-sublist__number {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.second-sublist__description {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0;
}

.search__text {
  font-size: 21px;
  margin: 0;
}

.search__text-date {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.button {
  display: block;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding: 16px 49px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.main-footer__tag {
  margin: 0;
}

.main-footer__social-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.social__item {
  background-color: #81b3d2;
}

.social__link {
  text-decoration: none;
}

.copyright__text {
  font-size: 14px;
  line-height: 21px;
}

.copyright__link {
  text-decoration: none;
  color: #000000;
}

.form__request {
  font-size: 12px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  text-align: right;
}

.form-group {
  border: none;
  margin: 0 0 60px 0;
  padding: 0;
}

.form-group__title {
  font-weight: bold;
  padding: 0;
  margin-bottom: 20px;
}

.form-group__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.form-group__comment {
  border: none;
  background-color: #f2f2f2;
  color: #000000;
  font-family: "PT sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  resize: none;
  padding: 16px;
}

.form-group__comment::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.field-list__item {
  margin-bottom: 15px;
}

.field-list__title {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
}

.field-list__input {
  border: none;
  background-color: #f2f2f2;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding: 16px 0 16px 16px;
}

.field-list__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.field-list__rating,
.field-list__place {
  text-transform: none;
  font-weight: bold;
}

.modal-fail {
  background-color: #ffffff;
}

.modal-fail__title {
  font-size: 18px;
}

.modal-fail__text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 35px;
}

.modal-success {
  background-color: #ffffff;
}

.modal-success__title {
  font-size: 18px;
}

.modal-success__text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 35px;
}

.modal-success__button {
  outline: 20px solid #f2f2f2;
}

.gallery__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/*.likes__count {
  display: block;
  background-image: url("../img/icons/like-icon.svg");
  background-repeat: no-repeat;
}
*/
.likes__sum {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 50px;
}

.gallery__picture {
  margin: 0;
}

.picture__description-title {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.picture__description-author {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: none;
  color: #333333;
  margin: 0;
}

.presentation__title {
  font-weight: bold;
  margin: 0 0 30px 0;
}

.presentation__text {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 30px 0;
}
/*# sourceMappingURL=style.css.map */